<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div style="float:right; margin-right:10px; margin-top:10px;">
    Hello <span th:text="${name}"></span>
    <form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</div>
<div class="container text-center">
    <br>
    <h1 style="color:brown; font-family:'Times', sans-serif; font-size:70px; text-align: center;">Library Menu</h1>
    <br>
    <div>
        <a th:href="@{/api/book/all}">Get List of All Books</a>
    </div>
    <form th:action="@{/api/book/all-by-title}" method="get" style="max-width: 400px; margin: 0 auto;">

        <div>
            <p style="font-size:25px;">Search books by title:</p>
            <p>
                <input type="text" name="title" class="form-control" placeholder="Title"/>
            </p>
            <p>
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>
    <form th:action="@{/api/book/all-by-author}" method="get" style="max-width: 400px; margin: 0 auto;">

        <div>
            <p style="font-size:25px;">Search books by author:</p>
            <p>
                <input type="text" name="author" class="form-control" placeholder="Author"/>
            </p>
            <p>
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>
    <form th:action="@{/api/book/all-by-rating}" method="get" style="max-width: 400px; margin: 0 auto;">

        <div>
            <p style="font-size:25px;">Search books by rating:</p>
            <p>
                <input type="number" step="0.1" min="0" max="10" name="rating" class="form-control" placeholder="Rating"/>
            </p>
            <p>
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>
    </form>

</div>
</body>
</html>